*{
    /* margin: 0;
    padding: 0;
    box-sizing: border-box; */
    text-decoration: none;
}

body{
    background-color: #121212;
    color: #fff;
}

@import url(style/home.css);
@import url(style/dashboard.css);
@import url(style/slideMenu.css);
@import url(style/layout.css);